# Prerequisites
*.d

# Visual Studio specific massive folders
.vs/
Debug/
Release/
x64/
x86/
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!s826.lib  # EXCEPTION: Keep the required motor hardware library

# Executables
*.exe
*.out
*.app
